<div class="container">
    <mat-card>
		<mat-card-content>
			<div class="parent">
				<img class="template" src="../assets/images/sensor-1.png" />

				<img class="node node0" src="{{getUrl(0)}}"/>
				<img class="node node1" src="{{getUrl(1)}}" />

				<img class="node node2" src="{{getUrl(2)}}" />
				<img class="node node3" src="{{getUrl(3)}}" />
				<img class="node node4" src="{{getUrl(4)}}" />
				<!-- <img class="node node5" src="{{getUrl(0)}}" /> -->
				<img class="node node6" src="{{getUrl(5)}}" />

				<img class="node node8" src="{{getUrl(6)}}" />
				<img class="node node7" src="{{getUrl(7)}}" />
				<img class="node node9" src="{{getUrl(8)}}" />
			</div>
		</mat-card-content>
	</mat-card>
    <mat-card style="width: 300px; height: 500px; top: 100px; right: 100px">
		<mat-card-header>
		<mat-card-title>Bit String Stream</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<section style="border: 2px solid red; display: inline-block;">
				<table>
				<tr *ngFor="let row of bitStringStream; let even = even; let odd = odd"
					[ngClass]="{ odd: odd, even: even }">
					<td class="field" *ngFor="let field of row">
					{{field}} &nbsp;
					</td>
				</tr>
				</table>
			</section>
		</mat-card-content>
		<mat-card-footer style="padding: 20px;">
			<button mat-raised-button color="primary" (click)="generateSensorData()">Refresh</button>
            <span style="margin-left: 40px;"></span>
            <button mat-raised-button color="primary" (click)="openCustomDataDialog()">Custom Data</button>
		</mat-card-footer>
	</mat-card>
</div>